.slwh_admin_wrapper .notice {
  margin: 5px 0 15px;
}

.slwh_admin_wrapper {
  margin-top: 10px;
}

.slwh_admin_wrapper #wpbody-content {
  margin-right: 20px;
}

.slwh_admin_wrapper h2 {
  color: $red;
}
