@use "sass:meta";

.slsh_admin_wrapper {
  @include meta.load-css("toggle-switch-slider");

  margin-top: 10px;

  .notice {
    margin: 5px 0 15px;
  }

  #wpbody-content {
    margin-right: 20px;
  }

  .block_description {
    display: block;
    margin: 10px auto;
    padding: 5px;
  }
}
